@import './src/style/variables';
.activityList {
	margin-top: 235px;

	&.withSorting{
		margin-left: 315px;
	}
	h2 {
		a {
			float: right;
			font-size: 16px;
			display: inline-block;
			vertical-align: bottom;
			position: relative;
			top: 23px;
			span {
				margin-left: 5px;
				font-size: 14px;
			}
		}
	}
}
.activityHeader {
	text-align: right;
	margin-bottom: 20px;
	> button {
		background-color: $lightGrey;
    border-radius: 10px;
    padding: 8px 23px;
    margin-left: 10px;
		border: none;
		color: $black !important;
		outline: none;
		cursor: pointer;
		&.selected, &:hover {
			background-color: $red;
			color: white !important;
			text-decoration: none !important;
		}
	}
}
.empty {
	text-align: center;
  font-size: 20px;
  padding: 30px 0 10px;

}
.header {
	display: flex;
	font-weight: bold;
	> div {
		display: inline-block;
		width: 12%;
	}
	.type {
		width: 25%;
	}
	.contact {
		width: 40%;
	}
	.date {
		width: 20%;
	}
	.count{
		width: 15%;
		text-align: center;
	}
    border-bottom: 1px solid $blue;

}
.spinnerContainer {
	margin: 20px 0;
}


@media (max-width: 880px){
    .activityList {	
		&.withSorting{
			margin-left: 0;
		}
	}
}