$red: #f50d44;
$grey: #7f7f7f;
$lightGrey: #e0e0e0;
$lightGreyBackground: rgb(241,243,245);
$coolGrey: #999fa0;
$coolGreyTwo: #aaacb1;
$backgroundGrey: #979797;
$lightBackgroundGrey: #f7f7f7;
$lightRed: #fef4f6;
$black: #444;
$blue: #3d5273;
$lightRed2: #ff565c;
$pinkishRed: #f50d44;
$telmiePale: #8C97A7;

$hBlack: #262d37;   // rgb 38 45 55
$charcoalGrey: #3e4854;
$cherryRedTwo: #e4002c;
$paleGrey: #f5f6f8;
$paleGreyTwo: #e9ebee;
$cloudyBlue: #d5dce3;
$darkPeriwinkle: #565fcf;
$green: rgb(154, 227, 207);
$darkGreen: rgb(19, 64, 54);


$mobileWidth: 880px;


// WEBPACK FOOTER //
// ./style/_variables.scss